body {
    color:black;
    background: url("../images/par.jpg") no-repeat;
    background-size: cover;
    border: 5px solid #000;
    margin: 10px;
    /*background-color:white;*/
    /*background-image:url(par.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

/*.container {
    width: 500px;
    height: 400px;
    background: url("par.jpg") no-repeat;
    background-size: cover;
    border: 5px solid #000;
    margin: 10px;
    }*/

.cadre{ border: 1px solid black; padding: 5px; border:dashed 3px  red; }

h1{
    color: red;
    font-size: 50px;
}

h2{
    margin-left: 10%;
    font-size: xx-large;
    color: seashell;
}

p5{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p2{
    font-size: 7;
    font-family : 'Source Sans 3', sans-serif ;
}

p{
    font-family : 'Source Sans 3', sans-serif ;
}

p1{
    font-family: cursive;
    color: red;
    font-size: 20px;
}

.img lol{height: 60px; width: 60px;
    }

.spacer{
    clear: both;
}

fieldset{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7;
    color: purple;
    border: 1px solid black; 
    padding: 5px; 
    border:dashed 3px  purple;
}

p6{
    font-family: cursive;
}